# Node modules
backend/node_modules/
frontend/node_modules/

# Env files
backend/.env
frontend/.env

# Dist
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db
