# Ignore backend node modules
backend/node_modules/

# Ignore frontend node modules
frontend/node_modules/

# Ignore environments
backend/.env
frontend/.env

# Ignore build output
frontend/dist/
backend/dist/

# System stuff
.DS_Store
Thumbs.db
